<div class="card mb-4">
    {% if product.filename %}
        <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="" class="card-img-top"
             style="width: 100%; height: auto;">
        {% else %}
            <img src="{{ '/images/products/empty.jpg' }}" alt="" class="card-img-top"
                 style="width: 100%; height: auto;">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', {slug: product.slug, id: product.id}) }}">
                {{ product.title }}
            </a>
        </h5>
        <p class="card-text">{{ product.mark }}, {{ product.model }}</p>
        <p class="card-text">{{ product.description | nl2br }}</p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold;">
            {{ product.price }} €
        </div>
    </div>
</div>