{% extends 'base.html.twig' %}

{% block title product.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    {% if product.filename %}
                        <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="" class="card-img-top"
                             style="width: 100%; height: auto;">
                    {% else %}
                        <img src="{{ '/images/products/empty.jpg' }}" alt="" class="card-img-top"
                             style="width: 100%; height: auto;">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ product.title }}</h1>
                    <h2>{{ product.mark }}, {{ product.model }}</h2>
                    <div class="text-primary">{{ product.formattedPrice }} €</div>
                    <a href="" class="btn btn-primary">Acheter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <p>
            {{ product.description | nl2br }}
        </p>
    </div>
{% endblock %}


