{% extends 'base.html.twig' %}

{# {% block title product.title %} #}

{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            <h1>Commande N°{{ order.id }}</h1>
        </div>
    </div>
    <div>
        <div class="container mt-4 d-flex flex-row ">
            <div class="col-md-8 d-flex flex-column">
                <h2>Adresse de facturation</h2>
                <h4>{{ order.billingAdress }}</h4>
                <h4>{{ order.billingPostalCode }}, {{ order.billingCity }}</h4>
            </div>
            <div class="col-md-4 d-flex flex-column align-right">
                <h2>Adresse de livraison</h2>
                <h4>{{ order.shippingAdress }}</h4>
                <h4>{{ order.shippingPostalCode }}, {{ order.shippingCity }}</h4>
                <h4></h4>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <h2>Produits commandés :</h2>
        <table class="col-md-12">
            <thead>
            <tr>
                <th> <h4>Produits</h4></th>
                <th><h4>Quantité</h4></th>
                <th><h4>Prix</h4></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {% for product in products %}
                        <h5>{{ product.title }}</h5>
                    {% endfor %}
                </td>
                <td class="mr-4">
                    {% for orderProduct in orderProducts %}
                        <h5>{{ orderProduct.productQuantity }}</h5>
                    {% endfor %}
                </td>
                <td>
                    {% for product in products %}
                        <h5>{{ product.price }}</h5>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('order.pdf', {id: order.id, slug: order.slug}) }}" class="btn btn-primary mt-4">PDF</a>


    </div>
{% endblock %}